[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
Flask = "==1.1.1"
Flask-Cors = "==3.0.8"
Flask-SocketIO = "==4.2.1"
ibm-watson = "==4.0.1"
python-dotenv = "==0.10.3"
pyjwt = "==1.7.1"   # 2.0.0 causes issues with ibm-watson, use 1.7.1 

[requires]
python_version = "3"

[scripts]
dev = "python -m flask run"
